body {
    min-height: 100vh;
    background: #fafafa;
  }
  
  
  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
 


.toast {
    display: block;
}

.toast img {
    width: 20px;
}

.add-user {
  position: absolute;
  bottom: 0px;
  right: 50px;
  font-size: 30px;
}
.add-user:hover {
  cursor: pointer;
}